body {
background-color: #BCF4F5;
font-family: 'Gill Sans', 'Gill Sans MT, Calibri, 'Trebuchet MS", sans-serif;
}
.cat {
background-color:#FFB7C3;
border: 3px solid #D3FAC7;
margin: 0.5em; 
padding: 1em;
border-radius: 1em;
flex: 1;
}
.fieldset {
margin: 1em;
border: 0;
}
.input, button {
padding: 0.75em;
}
@media (min-width: 960px) {
.cats {
display: flex;
}
}
.button{
    padding: 1em;
    border:3px solid;
    border: radius 0.5em;
}